.header-title-row {
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  padding-left: 40px;
  font-weight: 400;
}

.my-profile-button {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  width: 16%;
  align-items: center;
  padding: 10px 40px;
  background-color: inherit;
  border: none;
}

.profile-picture {
  border-radius: 50%;
  height: 6rem;
}

.profile-name {
  vertical-align: middle;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  background-color: grey;
  height: 50px;
  list-style: none;
}

.nav-bar-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu-item:first-child {
  margin-left: 20px;
}

.menu-item {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

.menu-item:hover,
.menu-item.active {
  background-color: darkgrey;
}

.menu-item-link,
.menu-item-link:visited {
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 13px 20px;
  display: inline-block;
  color: white;
}
