<header>
  <div class="header-title-row">
    <h1 class="header-title">
      {{ title }}
    </h1>
    <button class="my-profile-button">
      <img
        class="profile-picture"
        src="../../../assets/profile-picture.jpg"
        alt="profile picture"
      />
      <span class="profile-name">Garfield Cat</span>
    </button>
  </div>
  <nav class="nav-bar">
    <ul class="nav-bar-list">
      <li class="menu-item">
        Dashboard
      </li>
      <li class="menu-item">Games</li>
    </ul>
  </nav>
</header>
